*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
}
main{

}
body{
    width: 100%;
}
.logonav{
    width: 60%;
    margin-left: 2rem;
}

.nav-link{
    font-weight: 200;
    color: black;
}
.nav-item{
    padding-left: 2rem;
}
.navbar{
    max-width: 100%;
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 999;
    transition: 1s;
    margin-left: 0;
    
}

#carrossel{
   background-image: linear-gradient(to right,#F0F0F0,#fff );
   padding: 2.5%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.slider{
    display: inline-block;
    animation: 15s slide infinite linear;
}

.slider img{
    height: 50px;
    margin: 0 40px;
}

/* .carrosselimg{
    width:6rem;
    padding: 0;
    margin: 0;
    margin-right: 3%;
} */
.navbar.ativo{
    background-color: white;
    z-index: 1002;
    animation-duration: 3s;
    animation-name: slidein;
}
.nav-link:hover{
    font-size: 18px;
}
#imagemCrianca{ 
    max-width: 100%;  
    position: relative;
    padding: 0;
    margin: 0;
    z-index:1001;
    width: 100%;
    
    
}

#textoABA{
    font-size: 3rem;
    color: black;
    font-weight: 700;
    z-index: 1000;
    margin-top: 90px;
    

}

#divTextoAba{
    -webkit-backface-visibility: hidden;
    
}

.textosec{
    font-size: 1.5rem;
    color: #707070;
    -webkit-backface-visibility: hidden;
    line-height: 97%;
}
#paragrafosAba{
    
    line-height: 300%;
    
}
button{
    
}
#entreEmContatoBtn{
    background-color: #03B5E6;
    font-weight: 700;
    width: 220px;
    
}
#conhecaBtn{
    border-color: #FEC92E;
    border-width: 3px;
    background-color: #fff;
    color: black;
    font-weight: 700;
    margin-left: 20px;
    width: 220px;
}

#entreEmContatoBtn:hover{
    background-color: #FEC92E;
    color: black;
    border-color: #FEC92E;
}

#conhecaBtn:hover{
    border-color: #03B5E6;
    border-width: 3px;
}


@media (width < 500px) {
    *{
        margin-left: 0;
    }
    .textosec{
        font-size: 20px;
    }

    #textoABA{
        font-size: 30px;
        line-height: 97%;
        margin-top: 30px;
    }
    #imagemCrianca{
       display: none;
    }
    #navbarSupportedContent{
        background-color: white;
                                                                                                                                                                   
  }
  
  #conhecaBtn{
    margin: 0;
    width: 110px;
  }
  #entreEmContatoBtn{
    width: 110px;
  }

  nav{
    margin: 0;
  }
  .logonav{
    margin: 0
  }
  div{
    margin: 0;
  }

  

}
    
@keyframes slide{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-100%);
    }
}
