*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
}
body{
    width: 100%;
}
.logonav{
    width: 70%;
    margin-left: 2rem;
}

.nav-link{
    font-weight: 200;
    color: black;
}
.nav-item{
    padding-left: 2rem;
}
.navbar{
    align-items: center;
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 999;
    transition: 1s;
    margin-left: 0;
    
}
.navbar.ativo{
    background-color: white;
    z-index: 1002;
    animation-duration: 3s;
    animation-name: slidein;
}
.nav-link:hover{
    font-size: 18px;
}
#imagemCrianca{   
    position: relative;
    padding: 0;
    margin: 0;
    z-index:1001;
    width: 100%;
    
    
}

#textoABA{
    font-size: 2rem;
    color: black;
    font-weight: 700;
    z-index: 1000;
    

}

.textosec{
    font-size: 1.5rem;
}
#paragrafosAba{
    margin-left: 2rem;
}
@media (width < 480px) {
    .textosec{
        font-size: 12px;
    }

    #textoABA{
        font-size: 18px;
    }
    #imagemCrianca{
        width:0
    }
    #navbarSupportedContent{
        background-color: white;
                                                                                                                                                                   
  }

}
    
