*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
}
main{

}
body{
    width: 100%;
}
.logonav{
    width: 60%;
    margin-left: 2rem;
}

.nav-link{
    font-weight: 200;
    color: black;
}
.nav-item{
    padding-left: 2rem;
}
.navbar{
    max-width: 100%;
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 999;
    transition: 1s;
    margin-left: 0;
    
}

#paragrafosAba{
    padding-left: 20px;
    max-width: 100%;
    line-height: 300%;
    
}

.textoparceiros{
    background-image: linear-gradient(to right,#F0F0F0,#fff );
   padding: 1%;
    margin: 0;
    max-width: 100%;
    margin-top: 10%;
}

#carrossel{
   background-image: linear-gradient(to right,#F0F0F0,#fff );
   padding: 1.5%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.slider{
    display: inline-block;
    animation: 25s slide infinite linear;
}

.slider img{
    height: 50px;
    margin: 0 40px;
}

#carrossel:hover .slider{
    animation-play-state: paused;
}
    


/* .carrosselimg{
    width:6rem;
    padding: 0;
    margin: 0;
    margin-right: 3%;
} */
.navbar.ativo{
    background-color: white;
    z-index: 1002;
    animation-duration: 3s;
    animation-name: slidein;
}
.nav-link:hover{
    font-size: 18px;
}
#imagemCrianca{ 
    max-width: 100%;  
    position: relative;
    padding: 0;
    margin: 0;
    z-index:1001;
    width: 100%;
    overflow: hidden;  
}

.menino{
    width:500px;
    position: relative;
    left: 40%;
}

#textoABA{
    font-size: 3rem;
    color: black;
    font-weight: 700;
    z-index: 1000;
    margin-top: 90px;
    

}

#divTextoAba{
    -webkit-backface-visibility: hidden;
    
}

.textosec{
    font-size: 1.5rem;
    color: #707070;
    -webkit-backface-visibility: hidden;
    line-height: 97%;
}

#entreEmContatoBtn{
    background-color: #03B5E6;
    font-weight: 700;
    width: 220px;
    
}
#conhecaBtn{
    border-color: #FEC92E;
    border-width: 3px;
    background-color: #fff;
    color: black;
    font-weight: 700;
    margin-left: 20px;
    width: 220px;
}

#entreEmContatoBtn:hover{
    background-color: #FEC92E;
    color: black;
    border-color: #FEC92E;
}

#conhecaBtn:hover{
    border-color: #03B5E6;
    border-width: 3px;
}

.sobreTerapiaABA{
    padding-left: 22px;
    margin-top: 4%;
    
}
.sobreTerapiaABA h1{
    padding-left: 2px;
    font-size: 3.5rem;
    color: black;
}
.explicaAba{
    margin: 0;
    font-size: 23px;
    
}
.yellowFlower{
    width:30%;
    position: relative; 
    left: 72.5%; 
    bottom: 135px;
    z-index: 100px;
}
.checklist{
    margin: 0;
    font-size: 23px;
    position: relative;
    right: 0%;
    width: device-width;
    margin: 0;
    padding: 0;
    
}
.checklist li{
    line-height: 70px;
    list-style: none;
}

.check{
    width: 5%;
}


@media (width <= 768px) {
    #paragrafosABA{
        margin: 0 0 0 0;
        
    }
    
    *{
        margin-left: 0;
    }
    .textosec{
        font-size: 17px;
        text-align: justify;
        padding-right: 2%;
        
    }

    #textoABA{
        font-size: 30px;
        line-height: 97%;
        margin-top: 1px;
        text-align: left;
    }
    #imagemCrianca{
       display: none;
    }
    #navbarSupportedContent{
        background-color: white;
                                                                                                                                                                   
  }
  #divTextoAba{
        text-align: center;
  }
  #conhecaBtn{
    margin-bottom: 10px;
    width: 150px;
  }
  #entreEmContatoBtn{
    width: 150px;
    margin-bottom: 10px;
    
  }

  nav{
    margin: 0;
  }
  .logonav{
    margin: 10px;
  }
  div{
    margin: 0;
  }

  .sobreTerapiaABA h1{
    font-size: 30px;
  }

  .paragrafoSobre{
    font-size: 15px;
    padding-right: 30%;
    
    
  }

  .sobreTerapiaABA{
    padding: 12px;
  }

  .yellowFlower{
    position: relative;
    left: 76.5%;
    width: 30%;
    bottom: 550px;
  }
  
.checklist{
    font-size: 15px;
    width: 70%;
}
.checklist li{
    line-height: 30px;
    text-align: left;
    
}

}
    
@keyframes slide{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-100%);
    }
}
